<div class="main">
    <h1>Contacto</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto quasi eum aspernatur provident rerum eius placeat aliquam deserunt beatae? Ullam quos eius itaque corporis, et quia omnis odit earum. Excepturi.</p>
    <img src="http://placeimg.com/640/480/nightlife" alt="nature-img">
</div>