:root
{
    scroll-behavior: smooth;
}

::ng-deep * {
      
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;

    .header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100vw;
        height: 8vw;
    }

    .main
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        width: 100vw;
        height: 92vh;

        app-side-bar
        {
            width: 20vw;
            height: 100%;
        }
        
        router-outlet
        {
            width: 80vw;
            height: 100%;
        }
    }
}