<div class="body">
    <div class="header">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="main">
        <app-side-bar></app-side-bar>
        <router-outlet></router-outlet>
    </div>
</div>