<div class="navBar">
    <div class="brand">
        <a [routerLink]="['']">Brand Name</a>
    </div>
    <div class="enlaces">
        <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
        <a [routerLink]="['login']" routerLinkActive="active">Log In</a>
        <a [routerLink]="['signup']" routerLinkActive="active">Sign Up</a>
    </div>
</div>