.navBar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    //flex-wrap: wrap;

    width: 100vw;
    height: 90px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);

    .brand
    {
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 100%;
        width: 600px;


        a
        {
            cursor: pointer;
            font-size: 3em;
            font-weight: bold;
            color: black;
            text-decoration: none;
            text-align: center;
            margin: 0px;
            padding: 0px;
            width: 400px;

            transition: all 0.5s;

            &:hover
            {
                transform: scale(1.05);
            }
        }
    }
    
    .enlaces
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        //flex-wrap: wrap;

        height: 100%;
        width: 800px;
        //padding: 0px 2vw;


        a
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            font-size: 1.5rem;
            color: #000;
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            width: 10vw;
            height: 60px;

            transition: all 0.5s;

            &:hover
            {
                box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px  4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
            }
        }
        
        .active
        {
            box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px  4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
        }
    }
}