.container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 92vh;
    
    .enlaces
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 15vw;
        height: 80vh;
        
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
        
        a
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            font-size: 1.5rem;
            color: #000;
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            width: 15vw;
            height: 80px;

            transition: all 0.5s;

            &:hover
            {
                box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px  4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
            }

        }

        .active
        {
            box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px  4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
        }
    }
}