<div class="container">
    <div class="enlaces">
        <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
        <a [routerLink]="['nosotros']" routerLinkActive="active">Nosotros</a>
        <a [routerLink]="['profesionales']" routerLinkActive="active">Profesionales</a>
        <a [routerLink]="['servicios']" routerLinkActive="active">Servicios</a>
        <a [routerLink]="['contacto']" routerLinkActive="active">Contacto</a>
    </div>
</div>