/* Colocar estilos al siguiente formulario */
/* <div class="main">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recuerdame la próxima vez</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div> */

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 92vh;

    //padding: 3%;
    
    form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        width: 100%;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f2f2f2;

        .form-group
        {
            margin: 10px 0;
            
            label
            {
                display: block;
                margin-bottom: 5px;
            }
        }
    }
}
